/* 현재 z-index 3 단계 */
/*-----전체 선택자-----*/
body {
    margin: 0;
    background-color: #3c3642;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: white;
}
/*-----전체 선택자-----*/

/*-----스크롤 바-----*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    }
::-webkit-scrollbar-thumb {
    background:  rgba(0, 0, 0, 0.8);
}
/*-----스크롤 바-----*/

/*-----상단 메뉴 바-----*/
.navbar {
    overflow: hidden;
    background-color: #f1956e;
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 3;
    border-bottom: 1px solid none;
}
.navbar span {
    color: yellowgreen;
}
.navbar a {
    float: left;
    display: block;
    color: #48283D;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    text-shadow: 0 0 5px #492b2d;
}
.navbar a#login,
.navbar a#signup {
    float: right;
}
.menubutton {
    position: absolute;
    left: 10px;
    top: 70px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    border: none;
    border-radius: 100%;
}
.menubutton img {
    width: 25px;
    height: 25px;
}
.menubutton:hover {
    background-color: rgba(0, 0, 0, 0);
}

/*--옵션들 (카테고리?)--*/
.navbar_option {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 200px;
    width: 85%;
    height: 45%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.navbar_option::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    /*스크롤바 제거!*/
}
.navbar_option .option {
    display: inline-block;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    background-color: #c66;
    box-shadow: 3px 3px #191919;
    overflow: hidden;
}
.option:hover {
    background-color: #585858;
}
.navbar_option .option a {
    all: revert;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.option:hover a {
    color: white;
}
/*----검색-----*/
.search {
    display: inline-block;
    margin: 15px 15px 15px 250px;
    padding: 1px;
    width: 700px;
    height: 30px;
    border: 2px inset #568dac;
    border-radius: 15px;
    padding-left: 1px;
    background-color: #568dac;
    overflow: hidden;
}
.search input[type="search"] {
    border: none;
    height: 30px;
    width: 500px;
    color: black;
    background-color: #568dac;
    margin-left: 20px;
}
.search input[type="search"]::placeholder {
    color: black;
    margin-left: 20px;
    padding-left: 30px;
}
.search img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 100px;
}
/*-----상단 메뉴 바-----*/



/*-----사이드 메뉴 바-----*/
.sidebar {
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
    height: 90%;
    width: 0;
    background-color: #f9d46c;
    position: fixed;
    padding-top: 110px;
    color: #48283D;
    transition: 0.5s;
}
.sidebar:target {
    width: 15%;
}
.sidebar_list {
    list-style-type: none;
    position: relative;
}
.sidebar_list li {
    width: 100%;
    height: 50px;
    font-weight: bold;
    padding: 5px;
}
#fan_icon {
    color: black;
    font-size: 25px;
}
.sidebar_list li:hover {
    background-color: #f8efb6;
    color: #48283D;
}
.sidebar_list a {
    color: #48283D;
}
.sidebar_list li img {
    width: 25px;
    height: 25px;
}

/*-----사이드 메뉴 바-----*/



/*-----뮤직 플레이어-----*/
.player_frame {
    position: fixed;
    right: 0;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 150px;
    transition: 0.5s;
    z-index: 2;
}

.player_frame iframe {
    width: 100%;
    height: 80%;
    border: none;
}

.player_frame:target {
    width: 550px;
}

/*-----뮤직 플레이어-----*/



/*-----메인 페이지-----*/
.main_page {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0;
    background-image: url("/src/img/background04.webp");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
/*-----메인 페이지-----*/



/*-----중앙 컨텐츠(컨텐츠 박스)-----*/
.content_frame {
    margin: 20px;
    border: 1px none;
    width: 99%;
    height: 420px;
    overflow-x: scroll;
    white-space: nowrap;
}

.content_frame .title {
    color: #fd9301;
    font-size: 30px;
    margin-left: 15px;
}

.content_frame:hover .title {
    color: #f8efb6;
}

.content_box {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 270px;
    text-align: center;
    border: none;
    border-radius: 25px;
    margin: 0 10px 0 0;
    background-color: #53929b;
    box-shadow: 10px 10px #191919;
}
.content_box:hover {
    transition: 0.5s ease-out;
    transform: scale(1.05);
}
.content_box img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    position: absolute;
    top: 15px;
    left: 40px;
    display: block;
    box-shadow: 5px 5px #191919;
    transition: transform 3s;
}
.content_box img:hover {
    transform: rotate(20deg);
}
.artist_frame .title {
    margin: 5px 5px 5px 20px;
}
.content_box .name {
    display: block;
    position: relative;
    top: 67%;
    color: black;
    font-size: 25px;
    font-family: fantasy;
    font-weight: lighter;
}
.content_box:hover .name {
    color: #fd9301;
}
/*-----중앙 컨텐츠(컨텐츠 박스)-----*/




/*-----페이지 마무리 정보-----*/
.page_info {
    text-align: center;
    color: white;
}
/*-----페이지 마무리 정보-----*/




/*-----실시간 차트-----*/
.chart h3{
    color: #fd9301;
    font-size: 30px;
    margin-left: 15px;
}

.chart_list li{
    padding-top: 15px;
    padding-left: 30px;
    margin-left: -30px;
    margin-right: 10px;
    border-radius: 15px;
    list-style: none;
    counter-increment: list-counter;
    background-color: #c66;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
}
.chart_list li::before{
    content: counter(list-counter) "위";
}
.chart_list li:hover{
    color: #f8efb6;
}



a.chart_list_text_a{
    display:inline-block;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;  
}


.chart_list_img{
    width: 30px;
    float: right;
    margin: 7px 23px;
}
.hivelist{
    background-color: #c66;
    color: black;
    display: none;
}
.hivelist:hover{
    color: #f8efb6;
}

.chart_list #li_1:hover #hli_1,
.chart_list #li_2:hover #hli_2,
.chart_list #li_3:hover #hli_3,
.chart_list #li_4:hover #hli_4,
.chart_list #li_5:hover #hli_5{
    display: flex;
    visibility: visible;
    align-items: center;
}

.hivelist img{
    width: 150px;
    height: 150px;
    margin: 25px;
    margin-left: 60px;
    display: inline-block;
}

.hivetext{
    display: inline-block;
}




/*-----중앙 컨텐츠 자주 듣는 음악 (혹은 음악 추천)-----*/
.music_list {
    margin: 20px;
}
.music_list h3 {
    color: #fd9301;
    font-size: 30px;
    margin-left: 10px;
}

.music_box {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 10px;
    overflow: hidden;
}
.music_box img {
    width: 100%;
    height: 100%;
}
.hivebox {
    position: absolute;
    z-index: 1;
    background: black;
    opacity: 0.8;
    /*투명도*/
    transition: 0.5s;
    /*올라오는 이미지 부여! 깨달았다!*/
    padding: 10px;
    width: 100%;
    height: 50%;
    bottom: -100%;
    color: white;
}
.music_box:hover .hivebox {
    bottom: 0;
}
.hivebox .tag {
    border: 2px solid #484848;
    border-radius: 10px;
    padding: 3px;
    font-style: italic;
}
/*-----중앙 컨텐츠 자주 듣는 음악 (혹은 음악 추천)-----*/
