body a{
    text-decoration: none;
    color: black;
}
div {
    text-align: center;
}
input[type=search] {
    width: 70%; 
    height: 50px;
    padding: 12px 20px; 
    box-sizing: border-box; 
    border-radius: 30px; 
    font-size: 16px; 
    margin-right: -80px; 
}

.SButton {
    height: 40px;
    padding: 13px 20px;
    border-style: none;
    cursor: pointer;
    background-color: white;
    background-image: url('./src/img/magnifier.png');
    background-size: contain;
}
.contents_container {
text-align: center;}

.child {
display: inline-block;
}
.item_info{
    text-align: center;
    display: flex;
    justify-content: center;
}
.item_title{
    margin-left: -40%;
}
.item_info ul li {
    display: flex;
    align-items: center;
    margin: 30px;
}
.item_info ul li div{
    width: 200px;
    text-align: left;
}
#change_item_count{
    text-align: center;
    height: 35px;
    width: 30px;
}
.head_top {
    background-color: aqua; display: flex; 
    justify-content: space-between;
}
.head_top button{
    width: 90px;
    height: 30px;
    margin: 0%;
    border-style: none;
    background-color: aqua;
    flex-wrap: nowrap;
}
a {
    text-decoration: none;
}
body{
    background-image: url("./src/img/background.jpg");
    background-size: cover
}
#recommend_list {
    text-align: center; 
    width: 100%;
}

.recommend_item {
    display: inline-block; 
    margin: 0 15px;
}

.recommend_item dl {
    display: inline-block;
    margin: 0px; 
}

dl dd{
    width: 100px;
    margin-left:0px;
}
dl dd p{
    margin: 0 0 0 0px;
}
.recommend_item dl img {
    width: 100px;
    height: 100px;
}
select{
    height: 30px;
}